<!DOCTYPE html>
<br lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>汉中市烟区适应图</title>
</head>
<form method="POST" action="/map/upload" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="提交" /></form>
<br>
<div id="main" style="width: 100%;height:900px;"></div>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/echarts.min.js}"></script>
<!--<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>-->
<!--<script type="text/javascript" th:src="@{/static/js/hanzhong.geojson}"></script>-->
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    showProvince();
    function showProvince() {
        //myChart.showLoading();
        $.ajax({
            url: "http://127.0.0.1:8088/map/getCityData",
            dataType: "text",
            success: function (cityValue) {
                $.ajax({
                    url: "http://127.0.0.1:8088/static/js/hz.geojson",
                    dataType: "text",
                    success: function (data) {
                        showMap(data,cityValue);
                    }
                })
            }
        });

    }


    function showMap(geoJson, cityValue) {
        var name = '汉中';
        echarts.registerMap(name, geoJson);
        myChart.setOption(option = {
            tooltip: {
                trigger: 'item',
                formatter: '{b}<br/>{c}'
            },
            backgroundColor: '#044060',
            title: {
                text: "汉中市烟区适应图",
                left: 'center',
                textStyle: {
                    color: '#ffffff'
                }
            },
            visualMap: {
                min: 0,
                max: 120,
                left: 'left',
                top: 'bottom',
                text: ['高', '低'], // 文本，默认为数值文本
                calculable: true,
                inRange: {
                    color: ['red', 'yellow', 'lightskyblue', 'orangered', 'violet', 'green']
                },
                textStyle: {
                    color: '#ffffff'
                }
            },
            series: [{
                type: 'map',
                mapType: name,
                label: {
                    normal: {
                        show: true
                    },
                    emphasis: {
                        textStyle: {
                            color: '#fff'
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        borderColor: '#389BB7',
                        areaColor: '#fff'
                    },
                    emphasis: {
                        areaColor: '#389BB7',
                        borderWidth: 0
                    }
                },
                animation: false,
                data: JSON.parse(cityValue)
                // animationDurationUpdate: 1000,
                // animationEasingUpdate: 'quinticInOut'
            }]
        });
    }

    myChart.on('click', function(param) {
        console.log("------------------gregre");
    });




</script>
</body>
</html>
